2021-2022/ROJ/Poprava skipina A/Naloga2/naloga2.dtd

<!DOCTYPE AVTI [
<!ELEMENT AVTI (AVTOMOBIL+)>
<!ELEMENT AVTOMOBIL (PREVOZENIH, BARVA, CENA, GORIVO, STEVILOVRAT)>
<!ELEMENT PREVOZENIH (#PCDATA)>
<!ELEMENT BARVA (#PCDATA)>
<!ELEMENT CENA (#PCDATA)>
<!ELEMENT GORIVO (#PCDATA)>
<!ELEMENT STEVILOVRAT (#PCDATA)>

<!ATTLIST AVTOMOBIL LETO CDATA #REQUIRED>
<!ATTLIST AVTOMOBIL ZNAMKA CDATA #REQUIRED>
<!ATTLIST AVTOMOBIL MODEL CDATA #IMPLIED>
]>