2021-2022/ROJ/Poprava skipina A/Naloga2/naloga2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AVTI">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AVTOMOBIL" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="PREVOZENIH"/>
              <xs:element type="xs:string" name="BARVA"/>
              <xs:element type="xs:int" name="CENA"/>
              <xs:element type="xs:string" name="GORIVO"/>
              <xs:element name="STEVILOVRAT">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="10"/>    
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="LETO">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1900"/>
                        <xs:maxInclusive value="2011"/>    
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute type="xs:string" name="ZNAMKA"/>
            <xs:attribute type="xs:string" name="MODEL"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

